body{
	background: grey;
	padding: 20px 40px;
}
ol{
	margin: 20px auto;
	width: 200px;
	height: 200px;
	border: 8px dashed orange;
	box-sizing: border-box;
	overflow-y: scroll;
}
.picture{
	width: 80px;
}